<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Diary</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/static/css/sb-admin.css" rel="stylesheet">
  </head>
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#home_div">Diary</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <span class="nav-link-text">
                <img class="user-pic" src="http://localhost:8000/media/{{user.user_pic}}">
              </span>
          </li>
          <li class="nav-item active header-menu" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="#home_div">
              <i class="fa fa-fw fa fa-user-circle"></i>
              <span class="nav-link-text"><b>{{user.username|title}}</b></span>
            </a>
          </li>
          <li class="nav-item menu-hriks" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="#diary_div">
              <i class="fa fa-fw fa-book"></i>
              <span class="nav-link-text">
                Diary</span>
            </a>
          </li>
          <li class="nav-item menu-hriks" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-file-pdf-o"></i>
              <span class="nav-link-text">
                PDF Editor</span>
            </a>
          </li>
          <li class="nav-item menu-hriks" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa fa-file-word-o"></i>
              <span class="nav-link-text">
                Resume Builder</span>
            </a>
          </li>
          <li class="nav-item nav-link-text menu-hriks" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#railway_collapse" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-train"></i>
              <span class="nav-link-text">
                Railway Enquiry</span>
            </a>
            <ul class="sidenav-second-level collapse" id="railway_collapse">
              <li class="sub-menu-hriks">
                <a href="static-nav.html"><i></i>Seat availablity</a>
              </li>
              <li class="sub-menu-hriks">
                <a href="static-nav.html"><i></i>PNR status</a>
              </li>
              <li class="sub-menu-hriks">
                <a href="static-nav.html"><i></i>Train between stations</a>
              </li>
              <li class="sub-menu-hriks">
                <a href="static-nav.html"><i></i>Train locator</a>
              </li>
              </li>
            </ul>
          <li class="nav-item nav-link-text menu-hriks" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#expenses_collapse" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-money"></i>
              <span class="nav-link-text">
                Expense Manager</span>
            </a>
            <ul class="sidenav-second-level collapse" id="expenses_collapse">
              <li class="sub-menu-hriks">
                <a href="static-nav.html">
                  <i class="fa fa-fw a fa-inr"></i>
                  Add Expenses</a>
              </li>
              <li class="nav-item sub-menu-hriks" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" href="#">
                  <i class="fa fa-fw fa-area-chart"></i>
                  <span class="nav-link-text">
                    Expense Analysis</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item menu-hriks" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapse_settings" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-wrench"></i>
              <span class="nav-link-text">
                Settings</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapse_settings">
              <li class="sub-menu-hriks">
                <a href="static-nav.html">
                  <i class="fa fa-fw fa fa-edit"></i>
                    Edit Profile
                </a>
              </li>
              <li class="sub-menu-hriks">
                <a href="#">
                  <i class="fa fa-fw fa fa-exchange"></i>
                    Change Password
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <a class="navbar-brand no-width" href="#"><span class="nav-item"></a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-bell"></i>
              <span class="d-lg-none">Alerts
                <span class="badge badge-pill badge-warning">6 New</span>
              </span>
              <span class="new-indicator text-warning d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
                <span class="number"><b>{{notifications|length}}</b></span>
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">Notification:</h6>
              <div class="dropdown-divider"></div>
              {% for notification in notifications %}
                {% if not notification.1 %}
                <a class="dropdown-item" href="#">
                  <span class="text-success">
                    <strong><i class="fa fa-long-arrow-down"></i> {{notification.0|title}}</strong>
                  </span>
                  <span class="small float-right text-muted">{{notification.3}}</span>
                  <div class="dropdown-message small">{{notification.2}}</div>
                </a>
                {% else %}
                  <a class="dropdown-item" href="#">
                    <span class="text-danger">
                      <strong><i class="fa fa-long-arrow-up"></i> {{notification.0|title}}</strong>
                    </span>
                    <span class="small float-right text-muted">{{notification.3}}</span>
                    <div class="dropdown-message small">{{notification.2}}</div>
                  </a>
                {% endif %}
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item small" href="#">
                View all alerts
              </a>
            </div>
          </li>
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0 mr-lg-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-fw fa-sign-out"></i>
              Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#home_div">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Home View</li>
        </ol>
        <!-- Icon Cards -->
        <!-- Home Div starts from here -->
        <div id="home_div" class="hide_banner">
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-support"></i>
                  </div>
                  <div class="mr-5">
                    {{notifications|length}} Urgent Notifications!
                  </div>
                </div>
                <a href="#" class="card-footer text-white clearfix small z-1">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-book"></i>
                  </div>
                  <div class="mr-5">
                    Diary!
                  </div>
                </div>
                <a href="#" class="card-footer text-white clearfix small z-1">
                  <span class="float-left">Start Writing</span>
                  <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-inr"></i>
                  </div>
                  <div class="mr-5">
                    Track Expenses!
                  </div>
                </div>
                <a href="#" class="card-footer text-white clearfix small z-1">
                  <span class="float-left">Start Tracking</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-file-pdf-o"></i>
                  </div>
                  <div class="mr-5">
                    PDF Editor!
                  </div>
                </div>
                <a href="#" class="card-footer text-white clearfix small z-1">
                  <span class="float-left"> Edit Now</span>
                  <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Expense Chart -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i>
              Expense Graph
            </div>
            <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
            </div>
          </div>
          <!-- Example Tables Card -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i>
              Expense Details
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Total Expenses</th>
                      <th>Net Expenses Till</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Date</th>
                      <th>Total Expenses</th>
                      <th>Net Expenses Till</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Nov 24, 2017</td>
                      <td>5000</td>
                      <td>6000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
            </div>
          </div>
        </div>
        <!-- Home Div ends here-->
        <!-- Diary Diff starts from here-->
          <div id="diary_div" class="hide_banner">
           <div class="card mb-3">
              <div class="card-header">
               <i class="fa fa-book"></i>
                Diary
              </div>
              <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
              </div>
              <div class="card-footer small text-muted">
               Updated yesterday at 11:59 PM
              </div>
            </div>
          </div>
        <!-- Diary Diff ends here -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright &copy; AndroZdi 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/static/js/diary_user_board.js"></script>
    <script src="js/sb-admin.min.js"></script>
    <script type="text/javascript">
      // Inline JS for multiple div handling
      $('.hide_banner').not(':first').hide(200);
      $('a').click(function() {
          var id = $(this).attr('href');
          $(id).show(200);
          $('.hide_banner').not(id).hide(200);
        });
    </script>
  </body>
</html>
